.error-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
.error-title {
  font-size: 35px;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  text-align: center;
  padding-bottom: 30px;
}
.center {
  display: flex;
  justify-content: center;
}
.glass-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.glass-wrap img {
  width: 300px;
}
@media only screen and (max-width: 765px) {
  .error-container .btn-primary {
    width: 200px;
    font-size: 20px;
  }
  .error-title {
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .glass-wrap img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-device-width: 1024px) {
  .error-container .btn-primary {
    width: 200px;
    font-size: 20px;
  }
  .glass-wrap img {
    width: 400px;
    height: 100%;
  }
  .error-container {
    margin-bottom: 40px;
  }
}
