.cocktail {
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  /* margin-bottom: 20px; */
  border-radius: 4px;
}
.cocktail-tile-img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.cocktails-wrapper {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
.cocktail-details {
  padding: 10px;
  color: #2a2a2a;
}
.cocktail-name {
  font-family: "Noto-Serif", serif;
  font-size: 20px;
}
.cocktail-glass,
.cocktail-info {
  font-size: 14px;
  color: #5d5b5b;
}
.section-title {
  font-size: 35px;
  font-family: "Noto Serif", serif;
  text-align: center;
  padding: 30px 0;
}
.empty-state-icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: 50px auto 0 auto;
}
.cocktails-tiles {
  margin-bottom: 30px;
}
@media only screen and (max-width: 765px) {
  .cocktails-wrapper {
    max-width: none;
    justify-content: center;
  }
  .cocktail {
    margin-right: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* .cocktail-link:nth-of-type(2n) .cocktail {
    margin-right: 0px;
  }
  .cocktails-wrapper {
    max-width: none;
    justify-content: center;
  }
  .cocktail-link:nth-of-type(3n) .cocktail {
    margin-right: 20px;
  } */
}
