.nav-center {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.nav-list {
  display: flex;
  margin-left: 40px;
}
.nav-link {
  /* margin-left: 12px; */
}
.nav-text {
  color: #2a2a2a;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  display: block;
  padding: 5px 10px;
}
.nav-text:hover {
  color: #405472;
  border-radius: 3px;
}
.navbar {
  background: url("../assets/cocktails-header-bg.png") no-repeat;
  background-size: contain;
  height: 150px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  background-position: right;
}
.logo-icon {
  width: 60px;
  height: 60px;
}
