* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo h1 {
  font-family: "Baloo Bhaina 2", cursive;
  color: blue;
  font-size: 35px;
}
.logo a {
  text-decoration: none;
  display: flex;
  line-height: 90px;
}
