* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  background: rgba(255, 255, 255, 0.5);
}
.logo h1 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #2a2a2a;
  font-size: 35px;
  line-height: 125px;
}
.logo a {
  text-decoration: none;
  display: flex;
  line-height: 90px;
}
